@import './header.scss';
@import './best_movie.scss';
@import './carousel.scss';
@import './modal.scss';

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}